/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * vizia implementation : © <Hervé Dang> <herve.dang@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * vizia.css
 *
 * vizia stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.

    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (vizia_vizia.tpl), and to HTML elements you create dynamically
    (in vizia.js).

    Usually, you are using CSS to:

    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can
        display these images correctly (see example below).

    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.


     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/

.memoryHelpOFF, .colorBlindOFF, .debugOFF {
    display: none;

}

.memoryHelpON, .colorBlindON, .debugON {
    display: block;
}

.disabled{
    display: none !important;
}

#lowTile {
    background-color: #ffc0c0;
    display: inline-block;
    margin-left: 10px;
    /* width:100%; */
}

#finalRound {
    background-color: #ffc0c0;
    display: inline-block;
    margin-left: 10px;
    /* width:100%; */
}

/** Scrollable area **/

#map_container {
    position: relative;
    left: 0%;
    width: calc(100% - 150px);
    height: 500px;
    overflow: hidden;
}

#map_scrollable, #map_scrollable_oversurface {
    position: absolute;
}

#map_surface {
    position: absolute;
    top: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    cursor: move;
}

#rules_warning {
    display: none;
    text-align: center;
}

/* player boards */

#current_player_board {
    position: relative;
    top: 10px;
    height: 100px;
}

#hand0 {
    position: absolute;
    top: 0px;
    left: 35px;
}

#hand1 {
    position: absolute;
    top: 0px;
    left: 120px;
}

.token_stock {
    float: left;
    margin-left: 15px;
    position: relative;
    top: 2px;
    clear: both;
}

.partwrap {
    position: relative;
    float: left;
    height: 30px;
    width: 27px;
    padding-right: 5px;
    padding-bottom: 5px;
}

#commonTile{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100px;
    border: 2px solid blue;

}

#commonTile div{
    margin-top: 10px;
    margin-bottom: 10px;
}

#tilePlayed{
    position: absolute;
    top: 40px;
    left: 10%;
    width: 5%;
    border: 2px solid red;
}

#tilePlayer{
    position: absolute;
    top: 40px;
    left: 20%;
    width: 5%;
    border: 2px solid red;
}

#remain{
    position: absolute;
    top: 40px;
    right: 10%;
    width: 5%;
    border: 2px solid red;
}

#tileId{
    position: absolute;
    top: 0px;
    right: 10%;
    width: 5%;
    border: 2px solid green;
}


#memoryHelp{
    border: 2px solid green;
    width: 190px;
    position: absolute;
    top: 0px;
    left: 5%;
}

/** This is some extra stuff to extend the container **/

.currentTile polygon, .currentTile div polygon{
    stroke: black !important;
    stroke-width: 20;
}

.currentToken, .currentTile {
    pointer-events: auto;
}

.playedTile {
    stroke: white !important;
    stroke-width: 20;
    stroke-opacity: 1;
}

.purchasableTile:hover{
    stroke-width: 20;
    stroke-opacity: 1;
    stroke: black !important;
}

.redTile{
    stroke-width: 20;
    stroke-opacity: 1;
    stroke: blue !important;
}

.commonTile:hover, .handTile:hover, .playedTile:hover {
    stroke: black !important;
    stroke-width: 20;
    stroke-opacity: 1;
}

.commonPlace:hover, .handPlace:hover, .boardPlace:hover{
    stroke: white !important;
    stroke-width: 20;
    stroke-opacity: 1;
}

.place:hover{
    border: 1px solid black;
}

.commonPlace:hover,.handPlace:hover{
    border: 1px solid blue;
}

.commonTile:hover,.handTile:hover{
    border: 1px solid green;
}

.clickableToken:hover, .selectableToken:hover , .selectedToken:hover {
    stroke: #DAA520 !important;
    stroke-width: 5;
}

.selectableToken {
    stroke: #C0C0C0 !important;
    stroke-width: 5;
}

 .selectedToken{
    stroke-opacity: 0.5;
    fill-opacity: 0.5;

}

.commonTile {
}


.commonPlace {
}
.clickableToken, .selectableToken, .selectedToken,
.purchasableTile,.commonTile, .handTile, .playedTile,
.commonPlace, .handPlace, .boardPlace{
    cursor: pointer;
}

.purchasableTile+text,.commonTile+text, .handTile+text, .playedTile+text,
.purchasableTile+text+text,.commonTile+text+text, .handTile+text+text, .playedTile+text+text,
.commonPlace+text, .handPlace+text, .boardPlace+text,
.commonPlace+text+text, .handPlace+text+text, .boardPlace+text+text{
    cursor: pointer;
}

.purchasableTile {
    stroke: #DAA520 !important;
    stroke-width: 20;
}

/*
TO THINK BETTER IDEA
*/
.currentToken circle{
    stroke: #DAA520 !important;
    stroke-width: 5;
}

.handTile polygon{
    stroke: #FFFf00;
    stroke-width: 20;
}

.currentPlace  polygon {
/*
    stroke: black;
    stroke-width: 20;
*/
}


.white {
 border: 10px solid white;
}

.black {
 border: 10px solid black;
}

.prisme, .points {
    font-weight:bold;
}

.token{
    position: absolute;
    z-index: 4;
}

.map{
    position: absolute;
}
